// Special settings for BoringSSL on iOS simulator
OTHER_CFLAGS = -DOPENSSL_NO_ASM
OTHER_CPLUSPLUSFLAGS = -DOPENSSL_NO_ASM
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) COCOAPODS=1 OPENSSL_NO_ASM=1

// Architecture settings for simulator
EXCLUDED_ARCHS__EFFECTIVE_PLATFORM_SUFFIX_simulator__NATIVE_ARCH_64_BIT_x86_64 = arm64 arm64e
EXCLUDED_ARCHS = $(inherited) $(EXCLUDED_ARCHS__EFFECTIVE_PLATFORM_SUFFIX_$(EFFECTIVE_PLATFORM_SUFFIX)__NATIVE_ARCH_64_BIT_$(NATIVE_ARCH_64_BIT))
